body {
	background-color: darkred;
}

canvas {	 
	 background-color: white;
}

p {
	font-family: Arial;
	font-size: 12px;
	text-align: center;
	color: white;
	font-weight: bold;
}

a {
	color: salmon;
}

.buttons_div {
	text-align: center;
}